/* src/components/AutoType.css */
.auto-type {
    /* Add your styles here */
    font-weight: 500;
    color: #31363F;;
    font-size: 35px;
  }
  
  /* src/App.css */
  .container {
    text-align: center;
    /* margin-top: 50px; */
    margin-top: 0;
  }
  